<hr class="bg-white my-0"> 

<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <p>&copy; 2024 Stock Value App. All Rights Reserved.</p>
          <p>Designed by Andrius Badjanovas</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <p class="mb-0">Contact me:</p>
          <p><a href="tel:+447508223244" class="text-white">+44 7508 223244</a></p>
          <p class="mb-0">LinkedIn:</p>
          <p><a href="https://www.linkedin.com/in/andrius-badjanovas-777a9919b" class="text-white">Andrius Badjanovas</a></p>
          <p class="mb-0">GitHub:</p>
          <p><a href="https://github.com/Badjanovas?tab=repositories" class="text-white">Andrius Badjanovas</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>