<app-navbar></app-navbar>

<!-- Carousele -->
<div class="text-center mb-5 position-relative">
  <h1 class="carousel-title ">Welcome to Stock Valuation App</h1>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item ">
        <img src="assets\4c4cd3fa-e6c2-42ff-a05f-793fc5c936b0.webp" class="d-block w-100 carousel-img" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="assets\75251637-8629-4115-8c7d-b50a70ab666b.webp" class="d-block w-100 carousel-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\fd1a710a-60cf-4026-a3f4-634ce5a9ed7d.webp" class="d-block w-100 carousel-img" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<div class="container my-5">
  <div class="row mb-5">
    <div class="col-lg-6">
      <h2>About This App</h2>
      <p>
        Empower your investment journey with our Stock Valuation App, your ultimate tool for strategic decision-making. Seamlessly integrating three robust methodologies – the Discounted Cash Flow (DCF), Dividend Discount Method (DDM), and Graham's Formula – our platform offers unparalleled insights into stock valuation. Tailored for discerning investors, our intuitive interface provides clear, data-driven analyses, enabling you to navigate the intricacies of stock valuation with confidence.
      </p>
      <p>
        Discover the intrinsic value of stocks effortlessly using our diverse range of tools and calculators. Whether you're a seasoned investor or just starting out, our app equips you with the knowledge and resources needed to make informed investment decisions.
      </p>
      <p>
        Join countless investors who rely on our Stock Valuation App to optimize their portfolios and unlock new opportunities in the market. Start your journey towards financial success today
      </p>
    </div>
    <div class="col-lg-6 p-5">
      <img src="assets\8e72fe2b-7cde-4673-a4fd-7406effd4e9c.webp" alt="Stock Calculator" class="rounded img-home">
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-lg-6 order-lg-2">
      <h2>What is Investing?</h2>
      <p>
        Imagine you have a jar where you keep your allowance. Now, instead of just letting it sit there, you can put that money into something that might grow it over time, like a magic seed. This magic seed can turn into more money, but you have to wait for it to grow.
      </p>
      <p>
        Investing is like planting that magic seed. You give your money to something, like a company or a piece of land, and in return, you might get more money back later on. But just like with magic seeds, you have to be patient and wait for it to grow. Sometimes it grows a lot, sometimes a little, and sometimes it doesn’t grow at all, or even shrinks a bit.
      </p>
      <p>
        There are different things you can plant your money in, like businesses (stocks), loans (bonds), or even houses (real estate). Each one has its own risks and rewards, kind of like different types of magic seeds.
      </p>
      <p class="mb-5">
        So, investing is like a game where you put your money in different places, hoping they'll grow and give you more money in the future. But just like any game, you need to be careful and think about where you put your money, so you can hopefully end up with more in the end.
      </p>
    </div>
    <div class="col-lg-6 order-lg-1 p-5">
      <img src="assets\d57f4176-2217-4765-81d1-dc3d591b2894.webp" alt="Investing" class=" rounded mt-5 img-home">
    </div>
  </div>

  <div class="container my-5">
    <div class="row mb-5">
      <div class="col-lg-6">
        <h2>About Value Investing</h2>
        <p>
          Value investing is an investment strategy that involves selecting stocks that appear to be trading for less than their intrinsic or true value. This approach is based on the principle that the market sometimes undervalues good companies, providing opportunities for patient investors to buy shares at a discount.
        </p>
        <p>
          Value investors typically look for stocks with strong fundamentals, such as a low price-to-earnings (P/E) ratio, high dividend yield, or a low price-to-book (P/B) ratio. They believe that over time, the market will recognize the true value of these companies, leading to price appreciation and favorable returns.
        </p>
        <p>
          Unlike other investment strategies that focus on short-term price movements, value investing takes a long-term perspective. It requires discipline, patience, and the willingness to hold onto investments even during periods of market volatility.
        </p>
        <p>
          By following the principles of value investing, investors aim to build a portfolio of undervalued stocks that have the potential to outperform the market over the long term.
        </p>
      </div>
      <div class="col-lg-6 p-5">
        <img src="assets\Value-Investing_EP-960x533.png" alt="Value Investing" class="rounded img-home img-value mt-5">
      </div>
    </div>
  </div>

  <div class="text-center mb-5">
    <h2>Our partners</h2>
    <p>Open an account with one of our recommended brokers to start investing today:</p>
    <div class="d-flex justify-content-center">
      <a href="https://www.trading212.com/" class="btn btn-secondary mx-2">Trading212.com</a>
      <a href="https://www.interactivebrokers.co.uk/en/whyib/overview.php" class="btn btn-secondary mx-2">Interactivebrokers.com</a>
      <a href="https://www.webull.com/" class="btn btn-secondary mx-2">webull.com</a>
    </div>
  </div>
</div>
<app-appfooter></app-appfooter>